@page "/"

<h1>InlineEditBlazorControls-Demo</h1>

<h2>Text-Edit</h2>
<InlineTextEditor EditableValue="@DemoString" ValueSaved="SummaryEdited"></InlineTextEditor>

<div>
    @DemoString
</div>

@code {

    public string DemoString { get; set; } = "Test";

    protected override async Task OnInitializedAsync()
    {

    }

    void SummaryEdited(InlineEditTextCallback e)
    {
        DemoString = e.Value;
    }
}

